*{
	padding: 0;
	margin: 0;
}
#containter{
	width: 90%;
	padding: 5px 50px;
	margin: 0 auto;
	border-radius: 15px;
	border: 2px solid green;
	height: 800px;
}
table{
	border-collapse: collapse;
}
table, tr, th, td{
	border: 1px solid gray;
	padding: 5px 50px;
}
thead, tfoot{
	background-color: #eeff00;
}